// Google Font
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

// Colors
$red-ypmi: #FF0202;
$grey-ypmi: #474A57;
$grey-2-ypmi: #969BAB;
$grey-200-ypmi: #EEEFF4;
$grey-4-ypmi: #FAFAFA;
$white-ypmi: #FFFFFF;
// Font
$font-weight-700: 700;
$font-weight-400: 400;